corpo, div, p {
    fonte: 400 14px / 22px Roboto, sans-serif;
}
tela, img, video {
    borda: 1px sólido preto;
}
td {
    preenchimento: 10px 0px 0px 10px;
    texto-alinhamento: centro;
}
botão {
    exibição: bloco em linha;
    cor: #fff;
    background-color: # 337ab7;
    border-color: # 2e6da4;
    estofamento: 6px 12px;
    margem inferior: 0;
    font-size: 14px;
    intensidade da fonte: Negrito;
    texto-alinhamento: centro;
    espaço em branco: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulação;
    toque-ação: manipulação;
    cursor: ponteiro;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    usuário-selecionar: nenhum;
    background-image: none;
    Borda: 1px sólido transparente;
    raio de borda: 4px;
}
botão [desativado] {
    cursor: não permitido;
    filtro: alfa (opacidade = 65);
    -webkit-box-shadow: nenhum;
    caixa-sombra: nenhuma;
    opacidade: .65;
}
.ao controle {
    margem inferior: 3px;
}
.err {
    cor vermelha;
    intensidade da fonte: Negrito;
}
.caption {
    margem: 0;
    intensidade da fonte: Negrito;
}
.code {
    estofamento: 4px 6px;
    margem: 4px 8px 4px 2px;
    background-color: #FBFCFD;
    borda: 1px sólido # C4CFE5;
    font-family: monospace, fixed;
    font-size: 13px;
    min-height: 13px;
    altura da linha: 1,0;
    Envoltório de texto: sem restrições;
    padding-bottom: 0px;
    margem: 0px;
}
.hidden {
    Mostrar nenhum;
}
.pequeno {
    largura máxima: 300px;
}